<%= simple_form_for(@article) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.association :category %>
    <%= f.hidden_field(:image_cache) %>
    <%= f.file_field :image %>
</div>

<div class="form-actions">
    <%= f.button :submit %>
</div>
<% end %>