<div class="container mt-5">
    <div class="row">
        <% @articles.each do |article| %>
        <div class="col-12 mt-3">
            <div class=" card ">
                <h5 class=" card-header"><%= article.category.name %></h5>
                <div class="card-body">
                    <%#  image_tag article.image.url %>
                    <%# image_tag(article.image.url, :width => 250, :height => 200) %>
                    <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
                    <p class="card-text"><%= truncate(article.description, length: 100) %></p>
                    <div>
                        <small class="text-success font-small">Created by: <%= article.author.name %> |
                            <%= time_ago_in_words(article.created_at) %> ago |
                            last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
                    </div>
                    <%# if current_user == article.author %>
                    <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <%# end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>