<section class="blog-me pt-100 pb-100" id="blog">
    <div class="container">
        <div class="row">
            <% @articles.each do |article| %>
            <div class="col-lg-4 col-md-6">
                <!-- Single Blog -->
                <div class="single-blog">
                    <div class="blog-img">
                        <%= image_tag(article.image.url, :width => 250, :height => 200) %>
                        <div class="post-category">
                            <a><%= article.category.name %></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <h4>
                                <%= link_to article.title, article_path(article) %>
                            </h4>
                            <div class="meta">
                                <ul>
                                    <li><%= time_ago_in_words(article.created_at) %> ago</li>
                                    <li>
                                        <small class=" font-small">Created by: <%= article.author.name %></small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="text"><%= truncate(article.description, length: 100) %></p>
                        <%= link_to "read more", article_path(article), class: "box_btn" %>
                        <% if current_user == article.author %>
                        <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "box_btn" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>