<p id="notice"><%= notice %></p>

<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @article.description %>
</p>

<p>
    <strong>Category:</strong>
    <%= @article.category.name %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<div class="bg">
    <%# image_tag @article.image.url %>

    <%= image_tag(@article.image.url, :width => 500, :height => 500, :crop=>"fill") %>

    <%# image_tag(post.picture_url, :alt => post.short_name) %>

    <%# image_tag(@article.image.url(:thumbnail), :width => 250, :height => 250) %>
</div>