<!DOCTYPE html>
<html>

<head>
    <title>StyleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <% if logged_in? %>
        <li class="nav-item active">
            <%= link_to  "Home", root_path, class: "nav-link" %>
        </li>
        <% @categories.each do |category| %>
        <li class="nav-item">

            <%= link_to  category.name, articles_path(:cate => category.id), class: "nav-link" %>

        </li>
        <% end %>
        <% end %>
    </ul>
    <ul class="sidenav" id="mobile-demo">
        <% if logged_in? %>
        <li>
            <%= link_to  "Logout", logout_path, class: "font", method: :delete %>
        </li>
        <% else %>
        <li>
            <%= link_to  "Login", root_path, class: "font" %>
        </li>
        <li>
            <%= link_to  "Resgister", signup_path, class: "font" %>
        </li>
        <% end %>

    </ul>
    <%= yield %>
</body>

</html>